<h1>Coffees!</h1>

<h2>Coffees To Try!</h2>
<div class="col-xs-12 text center" class="task">
  <div class="row">
    {{#each coffees}}
    {{#unless drank}}

    <div class="col-xs-9 text-center">
      <pre>ID: {{this.id}}.  Name: {{this.name}}. Type: {{this.type}}. Company: {{this.company}}. Rating: {{this.rating}}. caffeinated: {{this.caffeinated}}. </pre>
    </div>
    <div class="col-xs-3 text-center">
      <button class="change-drank" data-id="{{id}}" data-newCoffee="{{drank}}">
        {{#if drank}}Order More{{else}}Tried it{{/if}}
      </button>
      <button class="deleteCoffee" data-id="{{id}}">X</button>
      {{!-- <button class="change-rating" data-id="{{id}}" data-newrating="{{rating}}"></button> --}}

    </div>
    {{/unless}}
    {{/each}}
  </div>
</div>

<h2>Coffees Tasted!</h2>
<div class="col-xs-12 text center" class="task">
  <div class="row">
    {{#each coffees}}
    {{#if drank}}
    <div class="col-xs-9 text-center">
      <pre>ID: {{this.id}}.  Name: {{this.name}}. Type: {{this.type}}. Company: {{this.company}}. Rating: {{this.rating}}. caffeinated: {{this.caffeinated}}. </pre>
    </div>
    <div class="col-xs-3 text-center">
      <button class="change-drank" data-id="{{this.id}}" data-newCoffee="{{drank}}">
        {{#if drank}}Order more{{else}}Tried it{{/if}}
      </button>
      <button class="deleteCoffee" data-id="{{id}}">X</button>
    </div>
    {{/if}}
    {{/each}}
  </div>
</div>

{{!-- <div class="col-xs-6 text-center" class="task">
			{{#each cofees}}
				{{#if this.drank}}
					<input class="form-control" type="text" placeholder="{{this.id}}. {{this.name}}" readonly>
				{{/if}}
			{{/each}}
		</div> --}}


{{!-- <ul>
  {{#each hbsObject}}
    {{#unless drank}}
      {{> coffee/coffee-block had=true}}
    {{/unless}}
  {{/each}}
</ul> --}}

{{!-- <h2>Coffees tasted</h2>

<ul>
  {{#each coffees}}
  <div class="col-xs-9 text-center">
					<pre>{{this.id}}.  {{this.name}}</pre>
				</div> --}}
{{!-- {{> coffee/coffee-block had=true}}
    {{#if drank}}
    {{/if}} --}}
{{!-- {{/each}}
</ul> --}}

<h2>Add a Coffee</h2>
<form class="create-form">

  <div class="form-group">
    <label for="name">Coffee Name:</label>
    <input type="text" id="name" name="name">
  </div>

  <div class="form-group">
    <label for="company">Coffee Company:</label>
    <input type="text" id="company" name="company">
  </div>

  <div class="form-group">
    <label for="type">Coffee Type:</label>
    <input type="text" id="type" name="type">
  </div>

  <div class="form-group">
    <label for="rating">Coffee Rating:</label>
    <input type="number" id="rating" name="rating">
  </div>

  <div class="form-group">
    <label for="caffeinated">caffeinated?</label><br>
    <input type="radio" name="caffeinated" value="1" checked> Caf<br>
    <input type="radio" name="caffeinated" value="0"> Decaf
  </div>

  <div class="form-group">
    <label for="drank">Tasted?</label><br>
    <input type="radio" name="drank" value="1" checked> tasted!<br>
    <input type="radio" name="drank" value="0"> Not Tasted
  </div>

  <button type="submit">Add Coffee</button>
</form>

<h2>Update Coffee Rating</h2>
<form class="updaterating" class="button-size">
  <input type="text" name="id" placeholder="id">
	<textarea type="number" name="rating" id="new-rating-real" placeholder="1- 10"></textarea>
	<button type="submit">Update Rating!</button>
</form>
