<li>
	{{name}}

	<button class="change-drank" data-id="{{id}}" data-newCoffee="{{had}}">
		{{#if had}}Drink!{{else}}How was it?{{/if}}
	</button>
	<button class="deleteCoffee" data-id="{{id}}">X</button>
</li>